<footer class="footer">
  <div class="container">
      <%- partial('footer/services') %>
      <%- partial('footer/for-clients') %>
      <%- partial('footer/oferta') %>
      <%- partial('footer/organization') %>
  </div>   
  <div class="footer__bottom">
    <div class="container">
      <%- partial('footer/copyright') %>
      <%- partial('footer/legal-menu') %>
    </div>
  </div>
</footer>