<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">


  <%- partial('head/favicons') %>
  
  <%- partial('head/open-graph') %>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;subset=cyrillic" rel="stylesheet">
  <link rel='stylesheet' href='/assets/css/commons.css' />
  <title><%- titleEscape(page) %></title>
  <%- descriptionEscape(page) %>
  <%- keywordsEscape(page) %>
</head>