<header class="header">
  <div class="header__top">
    <div class="container">
      <%- partial('header/top-menu') %>
      <%- partial('header/top-panel') %>
    </div>
  </div>
  <div class="header__middle">
    <div class="container">
      <%- partial('header/logo') %>
      <%- partial('header/main-menu') %>
    </div>
  </div>
  <div class="header__bottom">
    <div class="container">
      <%- partial('header/breadcrumb') %>
      <%- partial('header/action-button') %>
    </div>
  </div>
</header>