<% if(page.breadcrumbs || page.breadcrumbCurrent) { %>
  <div class="header__breadcrumb breadcrumb">
    <ol class="breadcrumb__list" itemscope itemtype="http://schema.org/BreadcrumbList">
      <li class="breadcrumb__item">
        <% if (isMainDomain(config.subdomain.alias)) {
          var urlHome = config.main_url;
        } else {
          var urlHome = '/';
        } %>
        <a href="<%= urlHome %>" class="breadcrumb__link">
          <%- partial('../svg-sprite-element', {icon: "home", cssSelector: "breadcrumb__icon"}) %>
        </a>
      </li>
    <% var i=1 %>
    <% for(var breadcrumb in page.breadcrumbs) {
      if (isMainDomain(config.subdomain.alias)) {
        var urlStep = config.main_url + page.breadcrumbs[breadcrumb].url;
      } else {
        var urlStep = page.breadcrumbs[breadcrumb].url;
      } %>
      <li class="breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a class="breadcrumb__link" itemprop="item" href="<%= urlStep %>">
          <span itemprop="name"><%= page.breadcrumbs[breadcrumb].name %></span></a>
        <meta itemprop="position" content="<%= i %>" />
        <% i++; %>
      </li>
    <% } %>
    <% if(typeof page.breadcrumbCurrent != "undefined") { %>
      <% if(page.breadcrumbCurrent) { 
        if (isMainDomain(config.subdomain.alias)) {
          var urlStep = config.main_url + url_for(page.path).replace('index.html', '');
        } else {
          var urlStep = url_for(page.path).replace('index.html', '');
        } %>
        <li class="breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a class="breadcrumb__link" itemprop="item" href="<%= urlStep %>">
            <span itemprop="name"><%= page.title %></span></a>
          <meta itemprop="position" content="<%= i %>" />
        </li>
      <% } %>
    <% } %>
    </ol>
  </div>
<% } %>