<button class="header__main-menu-toggle main-menu-toggle collapsed" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="top-menu-content" aria-expanded="false" aria-label="Toggle main menu">
  Услуги
</button>

<ul class="header__main-menu main-menu collapse" id="main-menu">
  <% var mainMenu = site.data.menu.main;
  for(item in mainMenu) { %>
    <li class="main-menu__item menu-item">
      <a href="<%= mainMenu[item].url %>" class="menu-item__title">
        <%= mainMenu[item].name %>
      </a>
      <div class="menu-item__more dropdown">
        <a href="<%= mainMenu[item].url %>" class="menu-item__more-link dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-items-name="<%= mainMenu[item].itemsName %>" data-section-name="<%= mainMenu[item].name %>">
          
        </a>
        <!-- <a href="#" class="menu-item__more-link">
          <%- partial('../svg-sprite-element', {icon: "arrow-down", cssSelector: "menu-item__more-icon"}) %>
        </a> -->
        <ul class="menu-item__second-menu second-menu dropdown-menu dropdown-menu-right fade">
          <% var childs = mainMenu[item].childs;
          for(child in childs) { %>
            <li class="second-menu__item">
              <a href="<%= childs[child].url %>" class="second-menu__link dropdown-item"><%= childs[child].name %></a>
            </li>
          <% } %>
        </ul>
      </div>

    </li>
    <% } %>
</ul>