<ul class="header__top-panel top-panel">
  <li class="top-panel__item">
    <a href="#changeCity" class="top-panel__link" data-toggle="modal">
      <%- partial('../svg-sprite-element', {icon: "place", cssSelector: "top-panel__icon"}) %>
        <span class="top-panel__text" id="change-city-name"><%= config.subdomain.city %></span>
    </a>
  </li>
  <li class="top-panel__item top-panel__item_hidden-sm-down">
    <span class="top-panel__link top-panel__link_time">
      <%- partial('../svg-sprite-element', {icon: "time", cssSelector: "top-panel__icon"}) %>
        <span class="top-panel__text">
          <%= site.data.company.worktime %>
        </span>
    </span>
  </li>
  <li class="top-panel__item">
    <a href="mailto:<%= site.data.company.email %>" class="top-panel__link">
      <%- partial('../svg-sprite-element', {icon: "mail", cssSelector: "top-panel__icon"}) %>
        <span class="top-panel__text">
          <%= site.data.company.email %>
        </span>
    </a>
  </li>
  <li class="top-panel__item">
    <a href="tel:<%= site.data.company.phone %>" class="top-panel__link top-panel__link_phone">
      <%- partial('../svg-sprite-element', {icon: "phone", cssSelector: "top-panel__icon"}) %>
        <span class="top-panel__text">
          <%- formatPhone(site.data.company.phone) %>
        </span>
    </a>
  </li>
  <!-- <li class="top-panel__item">
    <a href="#" class="top-panel__link top-panel__link_search collapsed" data-toggle="collapse" data-target="#search" aria-controls="search"
      aria-expanded="false" aria-label="Панель поиска">
      <%- partial('../svg-sprite-element', {icon: "search", cssSelector: "top-panel__icon top-panel__icon_close"}) %>
      <%- partial('../svg-sprite-element', {icon: "close", cssSelector: "top-panel__icon top-panel__icon_open"}) %>
    </a>
  </li> -->
</ul>
<%! partial('search-form') %>