<!-- Кнопка топ меню --> 
<button class="header__top-menu-toggle top-menu-toggle collapsed" type="button" data-toggle="collapse" data-target="#top-menu-content" aria-controls="top-menu-content" aria-expanded="false" aria-label="Toggle top menu">
  <%- partial('../svg-sprite-element', {icon: "menu", cssSelector: "top-menu-toggle__icon top-menu-toggle__icon_close"}) %>
  <%- partial('../svg-sprite-element', {icon: "close", cssSelector: "top-menu-toggle__icon top-menu-toggle__icon_open"}) %>
</button>

<!-- Топ меню --> 
<ul class="header__top-menu top-menu collapse" id="top-menu-content">
  <% var topMenu = site.data.menu.top %>
  <% for(item in topMenu) { %>
    <% if(topMenu[item].childs === undefined) { %>
      <li class="top-menu__item">
        <a href="<%= topMenu[item].url %>" class="top-menu__link"><%= topMenu[item].name %></a>
      </li>
    <% } else { %>
      <li class="top-menu__item dropdown">
        <a href="<%= topMenu[item].url %>" class="top-menu__link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false">
        <%= topMenu[item].name %>
        </a>
        <nav class="dropdown-menu">
            <% var childs = topMenu[item].childs %>
            <% for(child in childs) { %>
              <a href="<%= childs[child].url %>" class="dropdown-item"><%= childs[child].name %></a>
            <% } %>
        </nav>
      </li>
    <% } %>
  <% } %>
</ul>
    <!-- <li class="top-menu__item dropdown top-menu__item_hidden-lg-up">
      <a href="/recovery/" class="top-menu__link dropdown-toggle" id="navbarRecovery" role="button" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">Восстановление данных</a>
      <nav class="dropdown-menu" aria-labelledby="navbarRecovery">
        <a href="/recovery/devices/" class="dropdown-item">Устройства</a>
        <a href="/recovery/systems/" class="dropdown-item">Операционные системы</a>
        <a href="/recovery/data-types/" class="dropdown-item">Типы данных</a>
        <a href="/recovery/causes/" class="dropdown-item">Причины</a>
        <a href="/recovery/vendors/" class="dropdown-item">Производители</a>
      </nav>
    </li> -->

