<div class="container">
    <%- partial('common/main-title', {area: true, container: false}) %>
    <div class="contacts">
        <div class="contacts__text">
          <div class="organization" itemscope itemtype="https://schema.org/LocalBusiness">

            <h3 class="organization__name" itemprop="name"><%= site.data.company.fullname %></h3>
          
            <address itemprop="address" itemscope itemtype="https://schema.org/PostalAddress" class="organization__address">
              <span class="organization__city" itemprop="addressLocality"><%= config.subdomain.city %></span>
              <% if (config.subdomain.city != '') { %>
                <span class="organization__street" itemprop="streetAddress"><%= config.subdomain.address %></span>
              <% } %>
            </address>

            <% var phoneInFooter = config.subdomain.phone || site.data.company.phone; %>
            <span class="organization__phone" itemprop="telephone"><%- formatPhone(phoneInFooter) %></span>
          
            <% var emailInFooter = config.subdomain.email || site.data.company.email; %>
            <meta itemprop="email" content="<%= emailInFooter %>">
            <a href="mailto:<%= emailInFooter %>" class="organization__email"><%= emailInFooter %></a>
          
            <link itemprop="url" href="<%= config.url %>" />
            <link itemprop="logo image" href="<%= site.data.company.logo %>" />
            <meta itemprop="priceRange" content="<%= site.data.company.priceRange %>" />
        </div>
      </div>
      <div class="contacts__map">
        <%- partial('partials/home/map-one') %>
      </div>
    </div>
    <%- partial('common/call-to-action/order', {}, {cache: true}) %>
</div>

