<div class="container">
    <%- partial('common/main-title', {area: true, container: false}) %>
    <div class="home-description"><%- markdown(page.content) %></div>
    <%- partial('partials/home/populars-list', {}, {cache: true}) %>
    <%- partial('common/call-to-action/phone') %>
    <%- partial('partials/home/map-one') %>
    <%- partial('common/call-to-action/order', {}, {cache: true}) %>
</div>