<%- partial('common/main-title', {area: true, container: true}) %>
<div class="container">
    <%- markdown(page.content) %>
</div>

<% 
var priceSection = site.data.priceSection
var postsList = site.posts; 
%>

<div class="price-list">
    <div class="container">
        
        <% priceSection.forEach(function (section, index) { %>
            <div class="price-list-section">
                <h2 class="price-list-section__title"><%= section.name %></h2>
                <div class="price-list-section__list">
                    <% section.children.forEach(function (subSection, index) { %>
                        <%- partial('partials/price/sub-section', {subSection: subSection}) %>
                    <% }); %>
                </div>
            </div>
        <% }); %>
        
        <% var paymentsList = site.data.paymentsList %>
        <div class="price-list__bottom">
            <ul class="price-list__bottom-list">
                <% for (let element in paymentsList) { %>
                    <li><%- markdown(paymentsList[element]) %></li>
                <% } %>
            </ul>
            
        </div>
    </div>
</div>
