<%
// Фильтр постов текущей категории
function filterByTypePost(obj) {
  if (obj.typePost == page.typePost) {
    return true;
  } else {
    return false;
  }
}
var postsList = site.posts.filter(filterByTypePost);
%>

<div class="top-block" data-src-img="<%= page.banner %>">
  <div class="container">
    <%- partial('common/main-title', {area: true, container: false}) %>
    <div class="top-block__description">
      <%- markdown(page.content) %>
    </div>
  </div>
  <a class="top-block__more-link top-block__more-link_collapsed" href="#full-description" id="full-description-link">
    <%- partial('common/svg-sprite-element', {icon: "arrow-down", cssSelector: "top-block__icon"}) %>
  </a>
</div>
<div class="container">
  <%- partial('common/call-to-action/phone') %>
</div>
<div class="posts-list">
  <div class="container">
    <% postsList.each(function (post, i) { %>
      <div class="posts-list__item ">
        <div class="posts-list-item">
          <a href="<%= post.path %>" class="posts-list-item__title"> <%= post.title %></a>
        </div>
      </div>
    <% }); %>
  </div>
</div>

