<%
// Фильтр постов текущей категории
function filterByTypePost(obj) {
  if (obj.inIndexServices) {
    return true;
  } else {
    return false;
  }
}
var pagesList = site.pages.filter(filterByTypePost);
%>

<div class="container">
  <div class="sections-list">
    <%- partial('common/main-title', {area: true, container: false}) %>
    <div class="sections-list__description"><%- markdown(page.content) %></div>
    <% pagesList.each(function (post, i) { %>
      <div class="sections-list-item">
        <a href="<%= url_for(post.path) %>" class="sections-list-item__link">
          <img class="sections-list-item__image" src="<%= post.thumbnail %>" alt="<%= post.title %> <%= config.subdomain.inCity %>"/>
          <span class="sections-list-item__title"><%= post.title %></span>
        </a>
      </div>
    <% }); %>
  </div>

  <%- partial('common/call-to-action/phone') %>

</div>
