<%
// Фильтр постов текущей категории
function filterByTypePost(obj) {
  if (obj.typeSection == page.typeSection) {
      if (obj.path == path) {
          return false
      } else {
        return true;
      }
  } else {
    return false;
  }
}
var pagesList = site.pages.filter(filterByTypePost);

// Сборка массива, который потом можно отсортировать по значению sort
var htmlListPages = [];
pagesList.each(function (post, i) {
  htmlListPages[htmlListPages.length] = {
    title: listTitle(post),
    altTitle: alt_image(post) + " " + config.subdomain.inCity,
    sort: post.sort,
    link: url_for(post.path),
    thumbnail: post.thumbnail
  }
});

// Сортировка
htmlListPages.sort(function(a, b){return a.sort - b.sort});
%>

<div class="container">
  <%- partial('common/main-title', {area: true, container: false}) %>
  <div class="services-list-info">
    <div class="services-list-info__description">
      <%- markdown(page.content) %>
    </div>
    <div class="services-list-info__image" data-src-img="<%= page.banner %>">
      <link href="<%= page.banner %>" />
    </div>
  </div>
</div>
<div class="container">
  <div class="subsections-list">
    <% htmlListPages.forEach(function (post, i) { %>
      <a href="<%= post.link %>" class="subsections-list__item subsections-list-item">
        <img src="<%= post.thumbnail %>" alt="<%= post.altTitle %>" class="subsections-list-item__image">
        <h3 class="subsections-list-item__title"><%= post.title %></h3>
      </a>
    <% }); %>
  </div>
  <%- partial('common/call-to-action/phone', {}, {cache: true}) %>
</div>