<%
// Фильтр постов текущей категории
function filterByTypePost(obj) {
  if (obj.typeSection == page.typeSection) {
      if (obj.path == path) {
          return false
      } else {
        return true;
      }
  } else {
    return false;
  }
}
var pagesList = site.pages.filter(filterByTypePost);
%>

<div class="top-block" data-src-img="<%= page.banner %>">
  <div class="container">
    <%- partial('common/main-title', {area: true, container: false}) %>
    <div class="top-block__description">
      <%- markdown(page.content) %>      
    </div>
  </div>
  <a class="top-block__more-link top-block__more-link_collapsed" href="#full-description" id="full-description-link">
    <%- partial('common/svg-sprite-element', {icon: "arrow-down", cssSelector: "top-block__icon"}) %>
  </a>
</div>
<div class="container">
  <ul class="posts-list">
    <% pagesList.each(function (post, i) { %>
      <li class="posts-list-item">
        <a href="<%= url_for(post.path) %>" class="posts-list-item__link"><%= post.title %></a>
      </li>
    <% }); %>
  </ul>
</div>