<%
// Фильтр постов текущей категории
function filterByTypePost(obj) {
  if (obj.typeSection == page.typeSection) {
      if (obj.path == path) {
          return false
      } else {
        return true;
      }
  } else {
    return false;
  }
}
var pagesList = site.pages.filter(filterByTypePost);
%>

<div class="container">
  <%- partial('common/main-title', {area: true, container: false}) %>
  <div class="services-list-info">
    <div class="services-list-info__description">
      <%- markdown(page.content) %>
    </div>
    <div class="services-list-info__image" data-src-img="<%= page.banner %>">
      <link href="<%= page.banner %>" />
    </div>
  </div>
</div>
<div class="container">
  <div class="subsections-list">
    <% pagesList.each(function (post, i) { %>
      <a href="<%= url_for(post.path) %>" class="subsections-list__item subsections-list-item">
        <img src="<%= post.thumbnail %>" alt="<%= post.title %> <%= config.subdomain.inCity %>" class="subsections-list-item__image">
        <h3 class="subsections-list-item__title"><%- listTitle(post) %></h3>
      
      
      </a>
    <% }); %>
  </div>
  <%- partial('common/call-to-action/phone') %>
</div>