<%
// Фильтр постов текущей категории
function filterByTypePost(obj) {
  if (obj.typePost == page.typePost) {
    return true;
  } else {
    return false;
  }
}
var postsList = site.posts.filter(filterByTypePost);
%>
<div class="container">
  <%- partial('common/main-title', {area: true, container: false}) %>
  <div class="services-list-info">
    <div class="services-list-info__description">
      <%- markdown(page.content) %>
    </div>
    <div class="services-list-info__image" data-src-img="<%= page.banner %>">
      <link href="<%= page.banner %>" />
    </div>
  </div>
</div>

<div class="container">
  <%- partial('common/call-to-action/phone') %>
</div>
<div class="posts-list">
  <div class="container">
    <% postsList.each(function (post, i) { %>
      
      <div class="posts-list__item posts-list-item">
          <a href="<%= post.path %>" class="posts-list-item__image-link">
            <img src="<%- thumbnail_list(post) %>" alt="<%- alt_image(post) %> <%= config.subdomain.inCity %>" class="posts-list-item__image"/>
          </a>
        <span class="posts-list-item__price">
          от 1300 руб.
        </span>
        <a href="<%= post.path %>" class="posts-list-item__title"><%- listTitle(post) %></a>
        
      </div>
    <% }); %>
  </div>
</div>
<div class="container">
    <%- partial('common/call-to-action/order') %>
  </div>

