<div class="offers">
    <!-- Блок с таблицей цен -->
    <% if(typeof page.offers != "undefined") { %>
        <div class="offers__list" itemprop="offers" itemscope="" itemtype="http://schema.org/AggregateOffer">
        <% for (let index in page.offers) { 
            let offer = page.offers[index]; %>

            <% switch (offer.type) {
              case 'low': 
                var itemtype= 'AggregateOffer';
                var priceBlock = 'от <span itemprop="lowPrice">' + offer.price + '</span><span itemprop="priceCurrency" content="RUB"> ₽</span>';
              break;
              case 'high':
                var itemtype= 'AggregateOffer';
                var priceBlock = 'до <span itemprop="highPrice">' + offer.price + '</span><span itemprop="priceCurrency" content="RUB"> ₽</span>'
              break;
              case 'eq':
                var itemtype= 'Offer';
                var priceBlock = '<span itemprop="price">' + offer.price + '</span> <span itemprop="priceCurrency" content="RUB"> ₽</span>'
              break;
              default: 
                var itemtype= 'Offer';
                var priceBlock = '<span itemprop="price">' + site.data.company.defaultPrice + '</span>';
            } %>
             <div class="offer" itemprop="offers" itemscope="" itemtype="http://schema.org/<%= itemtype %>">
                <meta itemprop="name" content="<%= offer.name %> <%= config.subdomain.inCity %>">
                <span class="sr-only" itemprop="areaServed" itemscope itemtype="http://schema.org/City">
                  <meta itemprop="name" content="<%= config.subdomain.city %>" />
                  <span class="sr-only" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <meta itemprop="streetAddress" content="<%= config.subdomain.address %>"/>
                    <meta itemprop="telephone" content="<%= config.subdomain.phone %>"/>
                  </span>
                </span>
                <div class="offer__text"><%= offer.name %></div>
                <div class="offer__price"><%- priceBlock %></div>
            </div>
        <% } %>
        <meta itemprop="lowPrice" content="<%= minPrice(page.offers) %>"/>
        <meta itemprop="priceCurrency" content="RUB"/>
    </div>
    <% } %>
</div>