<div class="footer-block organization" itemscope itemtype="https://schema.org/LocalBusiness">

  <h3 class="footer-block__title" itemprop="name"><%= site.data.company.name %></h3>
  <p class="organization__description"><%= site.data.company.slogan %></p>

  <address itemprop="address" itemscope itemtype="https://schema.org/PostalAddress" class="organization__address">
    <meta itemprop="addressLocality" content="<%= config.subdomain.city %>"/>
    <% if (config.subdomain.city != '') { %>
      <span class="organization__street" itemprop="streetAddress"><%= config.subdomain.fullAddress %></span>
    <% } %>
  </address>
  <% var phoneInFooter = config.subdomain.phone || site.data.company.phone; %>
  <span class="organization__phone" itemprop="telephone"><%- formatPhone(phoneInFooter) %></span>

  <span class="organization__worktime"><%= site.data.company.worktime %></span>

  <% var emailInFooter = config.subdomain.email || site.data.company.email; %>
  <meta itemprop="email" content="<%= emailInFooter %>">
  <a href="mailto:<%= emailInFooter %>" class="organization__email"><%= emailInFooter %></a>

  <link itemprop="url" href="<%= config.url %>" />
  <link itemprop="logo image" href="<%= site.data.company.logo %>" />
  <meta itemprop="priceRange" content="<%= site.data.company.priceRange %>" />
</div>